<h1>Chart: {{title}}</h1>
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Chart
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a id="pie" class="dropdown-item" href="#">Pie Chart</a>
        <a id="bar" class="dropdown-item" href="#">Bar Chart</a>
        <a class="dropdown-item" href="#"></a>
    </div>
</div>

<canvas id="myChart">

</canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>