<style>

</style>
<div class="container" style=" border: 2px solid rgb(119, 139, 250); border-radius: 25px;">

    <nav class="nav nav-pills">
        <a href="#portfolios" class="nav-link active" data-toggle="tab">Portfolios</a>
        <a href="#figures" class="nav-link" data-toggle="tab">Figures</a>
    </nav>

    <div class="tab-content py-2">
        <div class="tab-pane active" id="portfolios">
            <div class="btn-group-vertical">
                {% if Portfolios.exists %}
                {% for Portfolio in Portfolios %}
                <a id="{{ Portfolio.portfolioname }}" type="button" class="btn btn-primary" aria-pressed="false"
                    href="{% url 'datadisplay-pass' Portfolio.portfolioname %}">

                    <span style="font-size: 15px;">{{ Portfolio.portfolioname }}</span><br>
                    <span style="font-size: 10px;">{{ Portfolio.fundmanager }}</span>

                </a>
                {% endfor %}
                {% else %}
                <p>No Portfolio created yet</p>
                <a class="btn btn-outline-warning" data-toggle="modal" data-target="#NewPortfolio" href="#">Create your
                    first
                    Portfolio</a>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane" id="figures">
            <ul class="list-group list-group-horizontal">
                <!-- Wird nur angezeigt, wenn Portoflio ausgewählt ist-->
                {% if Portfolioparam %}
                {% if ordinary_figures %}
                {% for thefigure in ordinary_figures %}
                <li class="list-group-item">
                    <button type="button" id="{{ thefigure.overallfigurename }}-button" class="btn btn-secondary"
                        data-toggle="tooltip" data-html="true" title="{{thefigure.pythoncode|truncatechars:100 }}">
                        {{ thefigure.overallfigurename }}
                    </button>
                </li>
                {% endfor %}
                {% else %}
                <a href="{% url 'create_figures_from_scratch' Portfolioparam %}">No Figures created yet!
                    Setup
                    Default
                    figures.</a>
                {% endif %}
                {% else %}
                <b>Load Portfolio first</b>
                {% endif %}
                <!--  <li class="list-group-item">Cras</li>
                <li class="list-group-item">sds</li> -->
            </ul>
        </div>
    </div>
</div>
<script>$(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();




    });



</script>