<style>
    .figure-item {
        background-color: rgb(179, 179, 179);
        border-radius: 8px;
        padding: 15px 20px;
        text-align: center;
        margin: 4px 0px;
    }

    .tabmenu {

        display: flex;
        flex-flow: column;
        flex: 1;

        width: 100%;
        min-width: 250px;
        max-width: 350px;
        height: 100%;
        min-height: 150px;

        background-color: white;
        margin: 0 15px;
        padding: 8px;
        transition: all 0.2s linear;
    }
</style>
<div id="tabmenu" class="container tabmenu" style=" border: 2px solid rgb(119, 139, 250); border-radius: 25px;">

    <nav class="nav nav-pills">
        <a href="#portfolios" class="nav-link active" data-toggle="tab">Portfolios</a>
        <a href="#figures" class="nav-link" data-toggle="tab">Figures</a>
    </nav>

    <div class="tab-content py-2">
        <div class="tab-pane active" id="portfolios">
            <div class="btn-group-vertical">
                {% if Portfolios.exists %}
                {% for Portfolio in Portfolios %}
                <a id="{{ Portfolio.portfolioname }}" type="button" class="btn btn-primary" aria-pressed="false"
                    href="{% url 'datadisplay-pass' Portfolio.portfolioname %}">

                    <span style="font-size: 15px;">{{ Portfolio.portfolioname }}</span><br>
                    <span style="font-size: 10px;">{{ Portfolio.fundmanager }}</span>

                </a>
                {% endfor %}
                {% else %}
                <p>No Portfolio created yet</p>
                {% if ordinary_figures|length == 0 %}
                <a class="btn btn-outline-danger" href="{% url 'create_figures_from_scratch_no_portfolio' %}"> Create
                    all
                    Default
                    Figures First!</a>
                {% endif %}
                <a class="btn btn-outline-warning" data-toggle="modal" data-target="#NewPortfolio" href="#">Create your
                    first
                    Portfolio</a>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane" id="figures">
            <!-- Hier muss der Drag und Drop implementiert werden-->

            <!-- Wird nur angezeigt, wenn Portoflio ausgewählt ist-->
            {% if Portfolioparam %}
            {% if ordinary_figures %}
            {% for thefigure in ordinary_figures %}

            <div id="{{ thefigure.name }}" draggable="true" class="figure-item" data-toggle="tooltip"
                data-placement="left" data-html="true" title="{{thefigure.pythoncode|truncatechars:100 }}">
                {{ thefigure.name }}
            </div>

            {% endfor %}
            {% else %}
            <a href="{% url 'create_figures_from_scratch' Portfolioparam %}">No Figures created yet!
                Setup
                Default
                figures.</a>
            {% endif %}
            {% else %}
            <b>Load Portfolio first</b>
            {% endif %}
            <!--  <li class="list-group-item">Cras</li>
                <li class="list-group-item">sds</li> -->

        </div>
    </div>
</div>
<script>$(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();





    });




</script>