<div class="container" style=" border: 2px solid rgb(119, 139, 250); border-radius: 25px;">

    <nav class="nav nav-pills">
        <a href="#portfolios" class="nav-link active" data-toggle="tab">Portfolios</a>
        <a href="#figures" class="nav-link" data-toggle="tab">Figures</a>
    </nav>

    <div class="tab-content py-2">
        <div class="tab-pane active" id="portfolios">
            <div class="btn-group-vertical">
                {% if Portfolios.exists %}
                {% for Portfolio in Portfolios %}
                <a id="{{ Portfolio.portfolioname }}" type="button" class="btn btn-primary" aria-pressed="false"
                    href="{% url 'datadisplay-pass' Portfolio.portfolioname %}">

                    <span style="font-size: 15px;">{{ Portfolio.portfolioname }}</span><br>
                    <span style="font-size: 10px;">{{ Portfolio.fundmanager }}</span>

                </a>
                {% endfor %}
                {% else %}
                <p>No Portfolio created yet</p>
                <a class="btn btn-outline-warning" data-toggle="modal" data-target="#NewPortfolio" href="#">Create your
                    first
                    Portfolio</a>
                {% endif %}
            </div>
        </div>
        <div class="tab-pane" id="figures">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Cras</li>
                <li class="list-group-item">sds</li>
            </ul>
        </div>
    </div>
</div>